.alertsContainer {
    /* width: 330px; */
    height: 180px;
    overflow: auto;
    scrollbar-width: none;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px #0000000F;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    
    /* margin-left: 50%;
    margin-top: 30%; */
    /* margin-top: 2rem; */
}

.alertsContainer>div {
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.alerts>button {
    /* width: 188px; */
    width: 60%;
    /* height: 46px; */
    padding: 0.5rem;
    background-color: #61AA96;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 39px;
}