.homeContainer {
    width: 100%;
    display: flex;
    background-color: #F6F6F6;
    justify-content: space-between;
    padding-left: 18%;
    position: relative;
    gap: 2rem;
    /* border: 2px solid green; */
}

.midContainer {
    margin-top: 7%;
    height: 89vh;
    width: 100%;
    /* padding: 0rem rem; */
    
    /* border: 2px solid blue; */
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

/* .leftContainer {
    width: 20%;
} */

.rightContainer {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* margin-top: 7%; */
    height: 89vh;


    /* align-items: center; */
    /* flex: 1 */
    margin-right: 2rem;
    /* border: 2px solid red; */
}

.rightContainer>p {
    color: #1D1D1D;
    text-transform: capitalize;
    font-family: Schibsted Grotesk;
    font-size: 24px;
    padding-left: 2rem;
    
}


