.selectContainer {
  width: 343px;
  height: 46px;
  border: 2px solid #d8dce3;
  border-radius: 23px;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.selectContainer > select {
  width: 100%;
  border: none;
  background-color: #f6f6f6;
  color: #8b8b8b;
  font-size: 16px;
  outline: none;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
