table {
    /* border-radius: 10px; */
    box-shadow: 0px 6px 10px #0000000F;
}

.container {
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

tr {
    height: 54px;
    /* background-color: red; */
}

.labels {
    /* background-color: #E6E6E6;  */
    border-radius: 10px; 
} 

thead {
    background-color: #E6E6E6;
}

th {
    text-align: left;
}

td {
    text-align: center;
    border-bottom: 2px solid #ececec;

}

tr>th {
    text-align: left;
}

tr>td {
    text-align: left;
}

tbody>tr>td:nth-child(1) {
    padding-left: 2rem;
}

tbody>tr>td:nth-child(2) {
    color:#8B8B8B;
    font-size: 14px;
}

tbody>tr>td:nth-child(3) {
    color:#8B8B8B;
    font-size: 14px;
}

tbody>tr>td:nth-child(4) {
    color:#8B8B8B;
    font-size: 14px;
}